In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv(r"C:\Users\MR.INDIA\Desktop\Machine Learning\DataSets\car_price.csv")
df

    mileage  sell_price  age
0     69000       18000    6
1     35000       34000    3
2     57000       26100    5
3     22500       40000    2
4     46000       31500    4
5     59000       29400    5
6     52000       32000    5
7     72000       19300    6
8     91000       12000    8
9     67000       22000    6
10    83000       20000    7
11    79000       21000    7
12    59000       33000    5

In [3]:
# plt.scatter(df.mileage,df.sell_price)

In [4]:
# plt.scatter(df.mileage,df.age)

In [5]:
# import seaborn as sn
# sn.pairplot(df)

In [6]:
x= df[['mileage','age']]
y= df['sell_price']

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [8]:
# len(x_train)

In [9]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [10]:
x_test

    mileage  age
11    79000    7
9     67000    6
0     69000    6
8     91000    8

In [11]:
model.predict(x_test)

array([21960.83959044, 25936.80546075, 24741.11945392, 17984.87372014])

In [12]:
model.score(x_test,y_test)

-0.6079515208629989

In [13]:
y_test

11    21000
9     22000
0     18000
8     12000
Name: sell_price, dtype: int64